.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
}
.container-heading{
    margin-bottom: 3px;
}
table{
    width:100%;
    background-color: transparent;
    border: 1px solid #E0E0E0;
    margin-top: 5%;
}
.keys{
    color:#BDBDBD
}

.table-header-profile h1{
    margin: 0;
}
.table-header-edit-button{
    text-align: right;
    width:70%;
    padding:2%;
}


